{% extends 'master.html' %}

{% block title %}
decrypt
{% endblock title %}

{% block content %}
<article>
    <form action='http://127.0.0.1:5000/download/decryptedv' method='POST' enctype="multipart/form-data">
        <div class="grid">
            <div></div>
            <div align='center'><h5>decrypt video: </h5></div>
            <div></div>
        </div>
        <div class="grid">
            <div><input type='file'  accept='video/*' placeholder='Add profile image' name='vid' required /></div>
        </div>
        <div class="grid">
            <div><input type='submit' value='submit' role='button'/></div>
        </div>
    </form>
</article>
{% endblock content %}

{% block footer %}

{% endblock footer %}

